* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
  }
  
  nav {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background: #cfd8dc; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
h1 {
    text-align: center;
}

aside {
    width: 20%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }

.profile {
    width: 200px;
    height: 300px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}
