body {
    background-color: linen;
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
    width: 80%;
    height: auto;
}

aside {
    background-color: azure;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin: 0 0 1em;
    padding: 1em;
    width: 20%;
    float: left;
}

article {
    background-color: azure;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin: 0 0 1em;
    padding: 1em;
    width: 80%;
    float: right;
}

h1 {
    background-color: azure;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
    margin: 0 0 1em;
    text-align: center;
}

h2 {
    background-color: azure;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    margin: 0 0 1em;
    text-align: center;
}

p {
    margin: 0 0 1em;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: azure;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin: 20px 0 0;
    padding: 10px;
    text-align: center;
}

main img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

nav {
    background-color: azure;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin: 0 0 1em;
    padding: 1em;
    width: 100%;
    text-align: center;
}

nav a {
    color: darkblue;
    text-decoration: none;
}













